# AGGREGATIONS, GROUPING, CASE & FUNCTIONS

---

# Aggregating data
Aggregating data is an important part of data analysis in SQL. It involves grouping together multiple rows of data based on common attributes, and performing mathematical operations on those groups to derive useful insights. Here are some common concepts and SQL commands related to aggregating data using the supercars table.

### COUNT
COUNT is a SQL aggregate function used to count the number of rows in a table or the number of rows that match a specific condition. The syntax for COUNT is as follows:

```sql
SELECT COUNT(column_name)
FROM table_name
WHERE condition;
```

Here, column_name is the name of the column we want to count the number of non-null values for. If we want to count all the rows in the table, we can use * instead of a column name. table_name is the name of the table we want to count the rows from. condition is an optional parameter that allows us to filter the rows that we want to count.

For example, to count the number of cars in the supercars table, we can use the following query:

```sql
SELECT COUNT(*)
FROM supercars;
```

This will return a single value, which is the total number of rows in the supercars table.

We can also count the number of rows that meet a specific condition. For example, to count the number of cars that are available for purchase, we can use the following query:

```sql
SELECT COUNT(*)
FROM supercars
WHERE is_available = true;
```

This will return a single value, which is the number of rows in the supercars table where the value of the is_available column is true.

## SUM

The SUM function is used to calculate the sum of all values in a specified column of a table. It is an aggregate function in SQL that can be used with numeric data types.

Syntax:

```sql
SELECT SUM(column_name) FROM table_name;
```
For example, let's say we want to find the total weight of all the supercars in the supercars table. We can use the SUM function to calculate this value:

```sql
SELECT SUM(weight) FROM supercars;
```

This query will return a single row with the sum of all weights in the weight column.

Another example could be finding the total price of all the Lamborghini cars in the supercars table:

```sql
SELECT SUM(price_in_dollars) FROM supercars WHERE make = 'Lamborghini';
```

This query will return a single row with the sum of all prices in the price_in_dollars column where the make is equal to 'Lamborghini'.

## Average
AVG: This function is used to calculate the average value of a numeric column in a table. For example, to find the average horsepower of all supercars in the table, we can use the following SQL statement:

```sql
SELECT AVG(horsepower) FROM supercars;
```

This will return a single value that represents the average horsepower of all supercars in the table.

## Min & Max

MIN and MAX: These functions are used to find the minimum and maximum values of a numeric column in a table, respectively. For example, to find the highest top speed of all supercars in the table, we can use the following SQL statement:

```sql
SELECT MAX(top_speed) FROM supercars;
```

This will return a single value that represents the highest top speed of all supercars in the table.

## Aliasing

Aliasing in SQL refers to the act of assigning a temporary name to a table or a column in a query. This is useful when you need to refer to the same table or column multiple times in a query or when you want to give a temporary name to a calculated field in the result set.

```sql
SELECT
    make as car_brand, horsepower as hp
FROM
    supercars;

```
The above query uses the `AS` keyword to give each of these columns a temporary name, or alias. The make column is given the alias `car_brand`, and the horsepower column is given the alias hp.

```sql
SELECT column_name1 AS "alias for column_name1",
       column_name2, column_name3
FROM table1
```
In this example, we are using the `AS` keyword to give the first column from `table1` a temporary name of alias for `column_name1`. This makes it easier to refer to this column in the rest of the query, as we can now use the alias instead of the original column name.


## Order of Query Execution
The actual order of execution of a SQL query may vary between different database management systems due to optimizations made by the query optimizer. The query optimizer is a component of the database management system that determines the most efficient plan for executing a query.

The query optimizer will generally take care of finding the most efficient plan for executing the query, and it's typically not necessary to know the exact order of execution.

However, the steps outlined below provide a general overview of the typical order of execution of a SQL query.
![image.png]()
## Group By

The GROUP BY clause in SQL is used to group together rows based on the values of one or more columns. It is often used in combination with aggregate functions like COUNT, SUM, AVG, MAX, and MIN to perform calculations on groups of rows.

Here is an example of how you can use GROUP BY with the "supercars" dataset:

Let's say you want to find the number of supercars for each luxury level. To achieve this, you can use the following SQL query:

```sql
SELECT luxury_level, COUNT(*)
FROM supercars
GROUP BY luxury_level;
```

This query selects the "luxury_level" column and counts the number of rows in the "supercars" table for each luxury level using the COUNT(*) function. The GROUP BY clause is used to group together rows by the "luxury_level" column. The resulting output will display the name of each luxury level and the corresponding number of supercars produced by that luxury level.

Another example would be if you wanted to find the average top speed for each make of supercar. To do this, you can use the following SQL query:

```sql
SELECT make, AVG(top_speed)
FROM supercars
GROUP BY make;
```

This query selects the "make" column and calculates the average top speed for each make of supercar using the AVG function. The GROUP BY clause is used to group together rows by the "make" column. The resulting output will display the name of each make and the corresponding average top speed for that make.

The usefulness of the GROUP BY clause is that it allows you to analyze and summarize data at different levels of granularity. By grouping rows based on the values of one or more columns, you can get insights into patterns and trends that might not be immediately apparent from looking at the raw data.


> **COMMON ERROR WHILE USING GROUP BY:** :
In SQL, when using the GROUP BY clause, you are essentially telling the database to group rows with the same values in the specified column(s) together and return a single result for each group.
>
>Any column that is not included in the GROUP BY clause must be aggregated using an aggregate function like COUNT, SUM, AVG, MIN, MAX, etc. If a non-aggregated column is selected without being included in the GROUP BY clause or used in an aggregate function, you will get an error message that says something like "contains nonaggregated column in GROUP BY clause".

## Difference between GROUP BY & DISTINCT

Both GROUP BY and DISTINCT are used to retrieve unique values from a table, but there are some differences between them.

DISTINCT is used to retrieve unique values from a single column of a table. For example, if we want to retrieve the unique makes of supercars in the "supercars" table, we can use the following query:

```sql
SELECT DISTINCT make FROM supercars;
```

This will return a list of unique makes from the "supercars" table:

```sql
+---------------+
| make          |
+---------------+
| Lamborghini   |
| Ferrari       |
| Ford          |
| McLaren       |
| Bugatti       |
| Aston Martin  |
| Koenigsegg    |
| Pagani        |
| Zenvo         |
| Rimac         |
| Mazzanti      |
| Apollo        |
| Chirana       |
| Gordon Murray |
| Pininfarina   |
| Hennessey     |
+---------------+
```
GROUP BY, on the other hand, is used to group rows based on one or more columns and perform some aggregate function on each group. For example, if we want to calculate the average price of supercars for each make in the "supercars" table, we can use the following query:

```sql
SELECT make, AVG(price_in_dollars) FROM supercars GROUP BY make;
```

This will group the rows by the "make" column and calculate the average price of supercars for each make:

```sql
+---------------+-----------------------+
| make          | AVG(price_in_dollars)  |
+---------------+-----------------------+
| Aston Martin  | 2500000.00            |
| Bugatti       | 1833333.33            |
| Chirana       | 400000.00             |
| Ferrari       | 1560000.00            |
| Ford          | 150000.00             |
| Gordon Murray | 3000000.00            |
| Hennessey     | 2500000.00            |
| Koenigsegg    | 2266666.67            |
| Lamborghini   | 1892857.14            |
| Mazzanti      | 2000000.00            |
| McLaren       | 798333.33             |
| Pagani        | 1400000.00            |
| Pininfarina   | 2000000.00            |
| Rimac         | 2200000.00            |
| Zenvo         | 1750000.00            |
| Apollo        | 2300000.00            |
+---------------+-----------------------+
```

In general, we use DISTINCT when we want to retrieve unique values from a single column, and GROUP BY when we want to group rows based on one or more columns and perform some aggregate function on each group. However, there are some cases where both can be used interchangeably. For example, if we want to retrieve the distinct makes of supercars in the "supercars" table, we can use either of the following queries:

```sql
SELECT DISTINCT make FROM supercars;

SELECT make FROM supercars GROUP BY make;
```

Both queries will return the same result.

## HAVING

The HAVING clause is used in conjunction with the GROUP BY clause to filter data based on an aggregate function. It is often used to filter results that have been grouped using the GROUP BY clause. In this lesson, we will explore how to use the HAVING clause in MySQL to filter data.

Syntax
The syntax for the HAVING clause in MySQL is as follows:

```sql
SELECT column1, column2, aggregate_function(column3)
FROM table_name
GROUP BY column1, column2
HAVING condition;
```

### Examples
Let's use the "supercars" table to illustrate how the HAVING clause can be used in MySQL.

Example 1: Filter data based on aggregate function
Suppose we want to find all the luxury levels that have an average top speed greater than 220. We can use the HAVING clause to filter the data as follows:

```sql
SELECT luxury_level, AVG(top_speed)
FROM supercars
GROUP BY luxury_level
HAVING AVG(top_speed) > 220;
```


This query will group the data by luxury level and calculate the average top speed for each group. The HAVING clause will filter the results and return only the luxury levels that have an average top speed greater than 220.

Example 2: Filter data based on aggregate function and condition
Suppose we want to find all the luxury levels that have an average top speed greater than 220 and at least 2 cars. We can use the HAVING clause to filter the data as follows:

```aql
SELECT luxury_level, AVG(top_speed), COUNT(*)
FROM supercars
GROUP BY luxury_level
HAVING AVG(top_speed) > 220 AND COUNT(*) >= 2;
```

This query will group the data by luxury level and calculate the average top speed and count of cars for each group. The HAVING clause will filter the results and return only the luxury levels that have an average top speed greater than 220 and at least 2 cars.

Example 3: Filter data based on multiple aggregate functions
Suppose we want to find all the luxury levels that have an average top speed greater than 220 and an average horsepower greater than 700. We can use the HAVING clause to filter the data as follows:

```sql
SELECT luxury_level, AVG(top_speed), AVG(horsepower)
FROM supercars
GROUP BY luxury_level
HAVING AVG(top_speed) > 220 AND AVG(horsepower) > 700;
```

This query will group the data by luxury level and calculate the average top speed and average horsepower for each group. The HAVING clause will filter the results and return only the luxury levels that have an average top speed greater than 220 and an average horsepower greater than 700.


>The HAVING clause in MySQL is a powerful tool for filtering data based on an aggregate function. It allows us to filter data based on conditions that are applied after the data has been grouped. By using the HAVING clause in conjunction with the GROUP BY clause, we can generate more complex queries that provide insights into our data.

### Difference between HAVING and WHERE Clause:

#### `WHERE` Clause:

- `WHERE` clause is used to filter data based on a specific condition.
- It is used to filter rows before the grouping is performed.
- It is used to filter individual rows from a table.
- It can be used with any column including non-aggregate columns.
- The `WHERE` clause cannot use an aggregate function.

#### `HAVING` Clause:

- `HAVING` clause is used to filter the result of an aggregate function.
- It is used to filter the groups after the grouping is performed.
- It is used to filter the groups of rows which meet a specified condition.
- It is used with an aggregate function only.
- The `HAVING` clause can only use an aggregate function.

>The main difference between `WHERE` and `HAVING` is that `WHERE` filters the rows before the data is grouped, while `HAVING` filters the groups after the data is grouped.

## CASE Statement

A CASE statement is a control flow statement in SQL that allows you to conditionally execute statements based on certain conditions. It is a way to write conditional logic in SQL queries. The CASE statement compares an expression to a set of values and then returns a result.

The basic syntax for a CASE statement is:

```sql
CASE expression
   WHEN value1 THEN result1
   WHEN value2 THEN result2
   ...
   ELSE default_result
END
```

The expression is evaluated and compared to each value in the WHEN clauses. If a match is found, the corresponding result is returned. If no match is found, the ELSE clause provides a default value to return.

CASE statements are useful when you need to transform data based on certain conditions. For example, you might want to group data into different categories based on certain criteria. Here's an example of using a CASE statement to group car models into different categories based on their horsepower:

```sql
SELECT model, horsepower,
   CASE
      WHEN horsepower < 500 THEN 'Low'
      WHEN horsepower >= 500 AND horsepower < 750 THEN 'Medium'
      WHEN horsepower >= 750 THEN 'High'
   END AS horsepower_category
FROM supercars;
```

This query selects the car model, horsepower, and creates a new column called horsepower_category that categorizes the car into different horsepower categories.

Another example of using a CASE statement is when you need to perform calculations based on different conditions. For example, you might want to calculate the price of a car based on its luxury level. Here's an example:

```sql
SELECT model, make, luxury_level,
   CASE
      WHEN luxury_level = 'low' THEN price_in_dollars * 1.1
      WHEN luxury_level = 'medium' THEN price_in_dollars * 1.2
      WHEN luxury_level = 'high' THEN price_in_dollars * 1.3
   END AS price_with_luxury_tax
FROM supercars;
```

This query selects the car model, make, luxury level, and creates a new column called price_with_luxury_tax that calculates the price of the car with an additional luxury tax based on its luxury level.

In summary, CASE statements are useful for transforming data based on certain conditions. They allow you to write conditional logic in SQL queries and can be used to group data into categories, perform calculations based on conditions, and more.

## Here are some more examples of using the CASE statement in SQL:


### Using CASE to categorize data based on multiple conditions:
```sql
SELECT model, make, horsepower,
    CASE
        WHEN horsepower < 500 THEN 'Low'
        WHEN horsepower >= 500 AND horsepower < 750 THEN 'Medium'
        WHEN horsepower >= 750 AND horsepower < 1000 THEN 'High'
        ELSE 'Extreme'
    END AS horsepower_category
FROM supercars;
```

This query categorizes cars based on their horsepower into four categories: Low, Medium, High, and Extreme.

### Using CASE to handle NULL values:
```sql
SELECT model, make, launch_date,
    CASE
        WHEN launch_date IS NOT NULL THEN launch_date
        ELSE 'To be announced'
    END AS launch_date_display
FROM supercars;
```

This query displays the launch date of a car, but if the launch date is NULL, it displays the text 'To be announced' instead.

### Using CASE to perform calculations:
```sql
SELECT model, make, price_in_dollars,
    CASE
        WHEN price_in_dollars > 1000000 THEN price_in_dollars * 0.9
        ELSE price_in_dollars
    END AS discounted_price
FROM supercars;
```

* This query calculates the discounted price of a car if its price is more than $1 million  *

### Using CASE with aggregate functions:

```sql
SELECT luxury_level, COUNT(*) AS count,
    CASE
        WHEN COUNT(*) < 5 THEN 'Low volume'
        WHEN COUNT(*) >= 5 AND COUNT(*) < 10 THEN 'Medium volume'
        ELSE 'High volume'
    END AS volume_category
FROM supercars
GROUP BY luxury_level;
```

This query groups cars by their luxury level and counts the number of cars in each group. It also categorizes the groups based on the number of cars in each group into three categories: Low volume, Medium volume, and High volume.



Yes, you can use a case-generated column with group by and order by in MySQL.

In fact, using case statements to generate columns and then using those columns in group by and order by clauses is a common practice in MySQL. Here's an example using the supercars dataset:

sql
Copy code
SELECT
  CASE
    WHEN price_in_dollars >= 1000000 THEN 'Expensive'
    WHEN price_in_dollars >= 500000 THEN 'Moderate'
    ELSE 'Affordable'
  END AS price_category,
  COUNT(*) AS count
FROM supercars
GROUP BY price_category
ORDER BY count DESC;
In this example, we're using a case statement to create a new column called price_category. We're then grouping by this column and counting the number of rows in each group. Finally, we're ordering the result by the count in descending order.

So, in summary, you can use case-generated columns with group by and order by in MySQL. It's a powerful feature that allows you to manipulate your data and create custom groupings and ordering.

## Date Functions

### DAY Function
The DAY function is used to extract the day of the month from a given date or datetime value.

Syntax
```sql
DAY(date)
```
Example
Let's say we want to extract the days of the month when the supercars were launched.

```sql
SELECT model, launch_date, DAY(launch_date) AS launch_day
FROM supercars;
```
This will return a table with the model, launch_date, and launch_day columns, where the launch_day column will contain the day of the month from the launch_date column.

### MONTH Function
The MONTH function is used to extract the month from a given date or datetime value.

Syntax
```sql
MONTH(date)
```
Example
Let's say we want to extract the months when the supercars were launched.

```sql
SELECT model, launch_date, MONTH(launch_date) AS launch_month
FROM supercars;
```
This will return a table with the model, launch_date, and launch_month columns, where the launch_month column will contain the month from the launch_date column.

### YEAR Function
The YEAR function is used to extract the year from a given date or datetime value.

Syntax
```sql
YEAR(date)
```
Example
Let's say we want to extract the years when the supercars were launched.

```sql
SELECT model, launch_date, YEAR(launch_date) AS launch_year
FROM supercars;
```
This will return a table with the model, launch_date, and launch_year columns, where the launch_year column will contain the year from the launch_date column.

### NOW Function
The NOW function is used to get the current date and time.

Syntax
```sql
NOW()
```
Example
Let's say we want to get the current date and time.

```sql
SELECT NOW();
```

This will return a single row with the current date and time.

###  DATEDIFF()
The DATEDIFF() function returns the number of days between two dates. Here's an example query that uses the DATEDIFF() function to calculate the number of days between the launch date and current date for each available supercar:

```sql
SELECT model, DATEDIFF(NOW(), launch_date) AS days_since_launch
FROM supercars
WHERE is_available = true;
```

This will produce a table with the supercar model name and the number of days since its launch.

### DATE_SUB()
The DATE_SUB() function is used to subtract a time/date interval from a date. The function takes two arguments - the date to be subtracted from and the time/date interval to subtract. The time/date interval can be specified in various formats such as "X YEAR", "X MONTH", "X DAY", "X HOUR", "X MINUTE", "X SECOND".

Example:

To find the launch date of the supercars that were launched 2 years ago, you can use the following query:

```sql
SELECT model, make, launch_date
FROM supercars
WHERE DATE_SUB(launch_date, INTERVAL 2 YEAR) <= NOW();
```

### DATE_ADD()
The DATE_ADD() function is used to add a time/date interval from a date. The function takes two arguments - the date to be added from and the time/date interval to add. The time/date interval can be specified in various formats such as "X YEAR", "X MONTH", "X DAY", "X HOUR", "X MINUTE", "X SECOND".

Example:


```sql
SELECT model, make, launch_date
FROM supercars
WHERE DATE_ADD(launch_date, INTERVAL 2 YEAR) <= NOW();
```

 Date functions can be incredibly useful when working with datasets that contain dates and times, allowing you to perform complex calculations and manipulations on date/time data.

## Test youself

### Which SQL function is used to count the number of rows in a table?
- A. SUM
- B. AVG
- C. COUNT
- D. MIN

Answer: C. COUNT

Explanation: The COUNT function is used to count the number of rows in a table or the number of rows that match a specific condition.

### Which SQL function is used to calculate the sum of all values in a specified column of a table?
- A. SUM
- B. AVG
- C. COUNT
- D. MAX

Answer: A. SUM

Explanation: The SUM function is used to calculate the sum of all values in a specified column of a table.

### Which SQL function is used to calculate the average value of a numeric column in a table?
- A. SUM
- B. AVG
- C. COUNT
- D. MAX

Answer: B. AVG

Explanation: The AVG function is used to calculate the average value of a numeric column in a table.

### Which SQL function is used to find the highest value of a numeric column in a table?
- A. SUM
- B. AVG
- C. COUNT
- D. MAX

Answer: D. MAX

Explanation: The MAX function is used to find the highest value of a numeric column in a table.

Which SQL clause is used to group together rows based on the values of one or more columns?
- A. WHERE
- B. GROUP BY
- C. ORDER BY
- D. DISTINCT

Answer: B. GROUP BY

Explanation: The GROUP BY clause is used to group together rows based on the values of one or more columns.

### What is the difference between GROUP BY and DISTINCT in SQL?
- A. GROUP BY is used to retrieve unique values from a single column of a table, while DISTINCT is used to group rows based on one or more columns.
- B. DISTINCT is used to retrieve unique values from a single column of a table, while GROUP BY is used to group rows based on one or more columns.
- C. Both GROUP BY and DISTINCT are used to retrieve unique values from a single column of a table, but GROUP BY is more efficient.
- D. Both GROUP BY and DISTINCT are used to group rows based on one or more columns, but GROUP BY is more powerful.

Answer: B. DISTINCT is used to retrieve unique values from a single column of a table, while GROUP BY is used to group rows based on one or more columns.

Explanation: The main difference between GROUP BY and DISTINCT is that GROUP BY is used to group rows based on one or more columns and perform some aggregate function on each group, while DISTINCT is used to retrieve unique values from a single column of a table.

### What is a CASE statement in SQL?
- A. A SQL function used to perform mathematical operations on data.
- B. A SQL statement used to join two or more tables.
- C. A SQL clause used to filter data based on certain conditions.
- D. A SQL control flow statement used to conditionally execute statements based on certain conditions.

Answer: D. A SQL control flow statement used to conditionally execute statements based on certain conditions.

Explanation: A CASE statement is a control flow statement in SQL that allows you to conditionally execute statements based on certain conditions.

### How is a CASE statement useful in SQL?
- A. It is used to perform mathematical operations on data.
- B. It is used to join two or more tables.
- C. It is used to filter data based on certain conditions.
- D. It is used to transform data based on certain conditions.

Answer: D. It is used to transform data based on certain conditions.

Explanation: A CASE statement is useful in SQL when you need to transform data based on certain conditions. It allows you to write conditional logic in SQL queries.

### What is the purpose of the HAVING clause in SQL?
- A. To filter rows based on a condition
- B. To filter columns based on a condition
- C. To group rows based on a condition
- D. To sort rows based on a condition

Answer: A

Explanation: The HAVING clause is used to filter rows based on a condition that involves an aggregate function, such as SUM or COUNT. It is similar to the WHERE clause, but operates on groups of rows rather than individual rows.

### Which of the following aggregate functions can be used with the HAVING clause?
- A. AVG
- B. MAX
- C. MIN
- D. All of the above

Answer: D

Explanation: All of the common aggregate functions, including AVG, MAX, MIN, SUM, and COUNT, can be used with the HAVING clause to filter rows based on their computed values.

### In which order are clauses evaluated in a SQL query?
- A. FROM, WHERE, GROUP BY, HAVING, SELECT, ORDER BY
- B. SELECT, FROM, WHERE, GROUP BY, HAVING, ORDER BY
- C. FROM, GROUP BY, HAVING, WHERE, SELECT, ORDER BY
- D. FROM, WHERE, GROUP BY, SELECT, HAVING, ORDER BY

Answer: D

Explanation: The order of clause evaluation in a SQL query is FROM, WHERE, GROUP BY, SELECT, HAVING, and ORDER BY. This means that the HAVING clause is evaluated after the GROUP BY clause and before the ORDER BY clause.

### Which of the following statements is true about the HAVING clause?
- A. It can be used without the GROUP BY clause
- B. It can be used without the SELECT clause
- C. It can be used without the WHERE clause
- D. None of the above

Answer: D

Explanation: The HAVING clause requires the use of the GROUP BY clause, as it operates on groups of rows rather than individual rows. It also requires the use of the SELECT clause, as it typically involves an aggregate function that computes a value for each group.

### How does the HAVING clause differ from the WHERE clause?
- A. The HAVING clause is used to filter rows based on aggregate functions, while the WHERE clause is used to filter rows based on individual column values.
- B. The HAVING clause is used with the GROUP BY clause, while the WHERE clause is not.
- C. The HAVING clause is evaluated before the GROUP BY clause, while the WHERE clause is evaluated after the GROUP BY clause.
- D. The HAVING clause and the WHERE clause are identical and can be used interchangeably.

Answer: A

Explanation: The HAVING clause is used to filter rows based on aggregate functions, while the WHERE clause is used to filter rows based on individual column values. The HAVING clause is also used with the GROUP BY clause, while the WHERE clause is not. Additionally, the HAVING clause is evaluated after the GROUP BY clause, while the WHERE clause is evaluated before the GROUP BY clause.

## EXERCISE
>Use Supercar dataset to find answers of the questions


### What is the total number of supercars in the dataset?
- A. 35
- B. 36
- C. 37
- D. 38

Answer: B. 36

Explanation: To count the total number of supercars in the dataset, we can use the following query:

```sql
SELECT COUNT(*) FROM supercars;
```

This will give us the count of all the rows in the supercars table, which is 36.

---

### What is the average price of a supercar in the dataset?
- A. $1,098,611.11
- B. $1,207,777.78
- C. $1,416,666.67
- D. $1,525,000.00

Answer: C. $1,416,666.67

Explanation: To calculate the average price of a supercar in the dataset, we can use the following query:

```sql
SELECT AVG(price_in_dollars) FROM supercars;
```

This will give us the average price of a supercar in the dataset, which is $1,416,666.67.

---

### Which supercar has the highest horsepower?
- A. Chiron
- B. Aventador
- C. Regera
- D. Gemera

Answer: A. Chiron

Explanation: To find the supercar with the highest horsepower, we can use the following query:

```sql
SELECT model, horsepower FROM supercars
ORDER BY horsepower DESC
LIMIT 1;
```

This will give us the model and horsepower of the supercar with the highest horsepower, which is the Chiron with 1500 horsepower.

---

### How many supercars have a luxury level of "high"?
- A. 22
- B. 24
- C. 26
- D. 28
Answer: D. 28

Explanation: To count the number of supercars with a luxury level of "high", we can use the following query:

```sql
SELECT COUNT(*) FROM supercars
WHERE luxury_level = 'high';
```

This will give us the count of all the supercars in the dataset with a luxury level of "high", which is 28.

---

### Which brand ambassador is associated with the most supercars in the dataset?
- A. Lewis Hamilton
- B. Michael Schumacher
- C. Cristiano Ronaldo
- D. Usain Bolt
Answer: A. Lewis Hamilton

Explanation: To find the brand ambassador associated with the most supercars in the dataset, we can use the following query:

```sql
SELECT brand_ambassador, COUNT(*) as num_supercars FROM supercars
GROUP BY brand_ambassador
ORDER BY num_supercars DESC
LIMIT 1;
```

This will give us the brand ambassador with the most supercars in the dataset, which is Lewis Hamilton with 3 supercars.

---

### What is the average price of all the available supercars?
- a) $1,424,000.00
- b) $1,562,500.00
- c) $1,750,000.00
- d) $2,125,000.00

Answer: b) $1,562,500.00

Explanation: To calculate the average price of available supercars, we can use the following query:

```sql
SELECT AVG(price_in_dollars) AS avg_price
FROM supercars
WHERE is_available = true;
```

This will return the average price of available supercars as $1,562,500.00.

---

### How many supercars have a top speed of 250 mph or higher?
- a) 1
- b) 2
- c) 3
- d) 4

Answer: a) 1

Explanation: To find the number of supercars with a top speed of 250 mph or higher, we can use the following query:

```sql
SELECT COUNT(*) AS num_supercars
FROM supercars
WHERE top_speed >= 250;
```

This will return the number of supercars with a top speed of 250 mph or higher as 1.

---

### What is the total weight of all the Lamborghini supercars?
- a) 10,047 lbs
- b) 9,007 lbs
- c) 8,647 lbs
- d) 7,562 lbs

Answer: b) 9,007 lbs

Explanation: To calculate the total weight of all Lamborghini supercars, we can use the following query:

```sql
SELECT SUM(weight) AS total_weight
FROM supercars
WHERE make = 'Lamborghini';
```

This will return the total weight of all Lamborghini supercars as 9,007 lbs.

---

### How many supercars have a luxury level of 'high' and are available?
- a) 12
- b) 13
- c) 14
- d) 15

Answer: c) 14

Explanation: To find the number of supercars with a luxury level of 'high' and are available, we can use the following query:

```sql
SELECT COUNT(*) AS num_supercars
FROM supercars
WHERE luxury_level = 'high' AND is_available = true;
```

This will return the number of supercars with a luxury level of 'high' and are available as 14.

---

### What is the average acceleration of supercars with 7 gears or more and are available?
- a) 2.80 seconds
- b) 3.05 seconds
- c) 3.20 seconds
- d) 3.35 seconds

Answer: b) 3.05 seconds

Explanation: To calculate the average acceleration of supercars with 7 gears or more and are available, we can use the following query:

```sql
SELECT AVG(acceleration) AS avg_acceleration
FROM supercars
WHERE num_gears >= 7 AND is_available = true;
```

This will return the average acceleration of supercars with 7 gears or more and are available as 3.05 seconds.

---